* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    -webkit-user-select: none;
     background: radial-gradient(circle at center, #C04848 0%, #480048 90%);
}

section, #main-container {
    height: 100%;
}

#main-container {
    position: relative;
    padding: 15px;
     max-width: 800px;
     margin:  auto;
}

#controller-wrapper {
    position: relative;
    z-index: 11;
    height: 100%;
}

#add {
    margin-top: 20px;
    cursor: pointer;
}

#controller {
    display: none;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 50%;
    background: rgba(255, 255, 255, .15);
    width: 120px;
    height: 120px;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

#controller .circle {
    position: absolute;
    z-index: -11;
    left: -1px;
    top: -3px;
    width: 122px;
    height: 122px;
    transform: rotate(-90deg);
}

#controller .circle circle {
    fill: none;
    stroke: #fff;
}

#controller .circle.progress circle {
    stroke-width: 4px;
}

#play {
    width: 128px;
    height: 66px;
    margin: auto;
}

#loader {
    display: none;
    width: 120px;
    height: 120px;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

#loader img {
    width: 100%;
    animation: loader 2s ease-in-out infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

#visual-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    overflow: hidden;
}

#visualizer {
    display: flex;
    align-items: flex-end;
    height: 130px;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom,
    from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.75)));
}

#visualizer .bar {
    background: rgba(255, 255, 255, .3);
    width: 2px;
    margin-right: 3px;
}

#visualizer .bar:last-of-type {
    margin-right: 0;
}

